*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
   display: grid;
   grid-template-columns: 350px 1fr;
}
.sidebar{
   background: #222;
   color: aliceblue;
   height: 100vh;
   padding: 40px;
   
}
.sidebar h1{
   margin-bottom: 30px;
}
.sidebar ul{
   list-style: none;
}
.sidebar ul li{
   margin-bottom: 25px;
}
.sidebar ul li:hover{
   color: blue;
}
.searchbar{
   display: flex;
   justify-content: space-between;
   padding: 20px;
   background: linear-gradient(to bottom ,rgb(188, 216, 215),rgb(20, 178, 183));
   margin-bottom: 20px;
}
.detail{
   display: flex;
   justify-content: space-around;
}
.detail div{
   background: greenyellow;
   padding: 30px 140px;
   border-radius: 15px;
   color: #222;
   font-weight: 500;
  
}
.detail div:hover{
   transform: translateY(-8px);
}
