*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{

text-align: center;
padding: 20px;
background: #222;
}
header h1{
   color: aliceblue;
}
.hero{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
   width: 100%;
   height: 400px;
   background: rgb(218, 172, 87);
   color: aliceblue;
}
.hero .btn{
   background: blue;
   padding: 15px;
   border-radius: 7px;
}
.hero .btn:hover{
   background: purple;
   color: aqua;
   transform: translateY(-5px);
   transition: transform 0.3s ease;
}
.product{
   display: grid;
   grid-template-columns: 400px 1fr;
}
.watch{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin: 30px;
   
}
.watch button{
   margin-left: 130px;
   background: salmon;
    display: inline-block;   /* sirf content ke size tak */
  width: auto;             /* full width hatao */
  align-self: flex-start;  /* flex ke andar left align */
  padding: 12px;
  border-radius: 6px;

}