*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
   display: flex;
   justify-content: space-between;
   background: #f5dcdc;
   align-items: center;
   border-radius: 8px;
   position: sticky;
   z-index: 1000;
   top: 0;
}
.header .logo{
   font-weight: 500;
   padding: 15px;
   font-size: 1.1rem;
}
.header ul{
   display: flex;
   list-style: none;
}
.header ul li{
   font-weight: 500;
   padding: 15px;
}
.header ul li a{
   text-decoration: none;
}
.header ul li a:hover{
   color: blue;
}
.hero{
   display: grid;
   margin-top: 30px;
   grid-template-columns: 1fr 1fr;
   height: 100vh;
   width: 100%;
}
.hero .right{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 20px;
}
.hero .right h1 {
   font-size: 2.5em;
}
.hero .left img{
   width: 100%;
   border-radius: 12px;
   box-shadow: 7px 7px 10px rgba(0,0,0,0.4);
}
.hero .right a{
   text-decoration: none;
   background: blueviolet;
   padding: 15px;
   color: aliceblue;
   border-radius: 8px;
}
.hero .right a:hover{
   color: aqua;
   transform: scale(1.2);
}
.features{
   display: flex;
   flex: 1;
    align-items: center;
    justify-content: center;
    align-items: stretch;
  
}
.feature{
   margin: 10px;
   padding: 15px;
     background: rgb(240, 240, 233);
     border-radius: 12px;

}
.feature h2{
   margin-bottom: 45px;
   font-size: 1.1rem;
   color: rgb(17, 17, 236);
}
.features p{
   color: #222;
}
.feature:hover{
 transform: translateY(-10px);
}
.foot{
   background: #222;
   color: aliceblue;
   text-align: center;
   padding: 20px;
   margin-top: 30px;
   font-size: 1.1rem;
}